[submodule "PJordano-Lab/themes/paper"]
	path = PJordano-Lab/themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
[submodule "PJordano-Lab/themes/hugo-theme-cleanwhite"]
	path = PJordano-Lab/themes/hugo-theme-cleanwhite
	url = https://github.com/zhaohuabing/hugo-theme-cleanwhite.git
