<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detailPreset</key>
	<string>1632e722bf40b3149af8bba4df8d499c</string>
	<key>images</key>
	<dict>
		<key>+wJKC5mFRpm7uRuR0PUsTg</key>
		<dict>
			<key>index</key>
			<integer>9</integer>
			<key>modDate</key>
			<date>2006-12-24T11:19:58Z</date>
		</dict>
		<key>2PxO5UOgQQKEsDc+tfgOfA</key>
		<dict>
			<key>index</key>
			<integer>32</integer>
			<key>modDate</key>
			<date>2007-09-23T10:36:47Z</date>
		</dict>
		<key>6lKjwmBHRoaLMCUJ6zzD1A</key>
		<dict>
			<key>index</key>
			<integer>31</integer>
			<key>modDate</key>
			<date>2007-09-23T10:36:47Z</date>
		</dict>
		<key>A4loKSYkSYC7iJgCWwTXJQ</key>
		<dict>
			<key>index</key>
			<integer>26</integer>
			<key>modDate</key>
			<date>2007-09-23T10:36:46Z</date>
		</dict>
		<key>DgW20uP5RqKbkktx1n7j9w</key>
		<dict>
			<key>index</key>
			<integer>13</integer>
			<key>modDate</key>
			<date>2006-12-24T11:19:58Z</date>
		</dict>
		<key>F35/tGJZTA25Gt+qGkZRhQ</key>
		<dict>
			<key>index</key>
			<integer>41</integer>
			<key>modDate</key>
			<date>2006-12-24T11:10:28Z</date>
		</dict>
		<key>FIvrPj8fT4KzTqGZhoY8aw</key>
		<dict>
			<key>index</key>
			<integer>23</integer>
			<key>modDate</key>
			<date>2007-09-23T10:36:47Z</date>
		</dict>
		<key>FdNEd1CgTm+syQmMIhCbfg</key>
		<dict>
			<key>index</key>
			<integer>22</integer>
			<key>modDate</key>
			<date>2006-12-24T11:10:28Z</date>
		</dict>
		<key>FpphoESrStWUyL6BMt0luA</key>
		<dict>
			<key>index</key>
			<integer>3</integer>
			<key>modDate</key>
			<date>2006-12-24T11:19:58Z</date>
		</dict>
		<key>H73NM2YeQoypQm9Lcp3LLA</key>
		<dict>
			<key>index</key>
			<integer>20</integer>
			<key>modDate</key>
			<date>2006-12-24T11:10:28Z</date>
		</dict>
		<key>JBccFPOmSnGn82n2NCPaig</key>
		<dict>
			<key>index</key>
			<integer>25</integer>
			<key>modDate</key>
			<date>2007-09-23T10:36:46Z</date>
		</dict>
		<key>K0MrMzGiSya5eoQ2OfpkZQ</key>
		<dict>
			<key>index</key>
			<integer>34</integer>
			<key>modDate</key>
			<date>2006-12-24T11:10:28Z</date>
		</dict>
		<key>L9gMkmtYQD20Ox9qfl/15w</key>
		<dict>
			<key>index</key>
			<integer>39</integer>
			<key>modDate</key>
			<date>2006-12-24T11:10:28Z</date>
		</dict>
		<key>MK7IzjN1R/KbpJA9gtlCtQ</key>
		<dict>
			<key>index</key>
			<integer>19</integer>
			<key>modDate</key>
			<date>2006-12-24T11:10:28Z</date>
		</dict>
		<key>NQk+vf5wTt+UKecgGXLlCw</key>
		<dict>
			<key>index</key>
			<integer>4</integer>
			<key>modDate</key>
			<date>2006-12-24T11:19:58Z</date>
		</dict>
		<key>QN7iWIphQK2ApAPYeRH+pQ</key>
		<dict>
			<key>index</key>
			<integer>6</integer>
			<key>modDate</key>
			<date>2006-12-24T11:19:58Z</date>
		</dict>
		<key>RSfoBtZ0T+u6TP3zai2zwA</key>
		<dict>
			<key>index</key>
			<integer>14</integer>
			<key>modDate</key>
			<date>2006-12-24T11:19:58Z</date>
		</dict>
		<key>SUtK4AMrSEez8nW8yn2V5Q</key>
		<dict>
			<key>index</key>
			<integer>18</integer>
			<key>modDate</key>
			<date>2006-12-24T11:10:28Z</date>
		</dict>
		<key>TJEylHBHSAu0Izj+uAvzrQ</key>
		<dict>
			<key>index</key>
			<integer>7</integer>
			<key>modDate</key>
			<date>2006-12-24T11:19:58Z</date>
		</dict>
		<key>U6qG2sBVQfu86bl+U+f2Ew</key>
		<dict>
			<key>index</key>
			<integer>37</integer>
			<key>modDate</key>
			<date>2006-12-24T11:10:28Z</date>
		</dict>
		<key>V7YSs5cwSgGhsMQpQeXV9A</key>
		<dict>
			<key>index</key>
			<integer>11</integer>
			<key>modDate</key>
			<date>2006-12-24T11:19:58Z</date>
		</dict>
		<key>YePv1oGxQ/WiFAq6gksLSA</key>
		<dict>
			<key>index</key>
			<integer>40</integer>
			<key>modDate</key>
			<date>2006-12-24T11:10:28Z</date>
		</dict>
		<key>Zv8s3QwGQvesTPTsLOqYaQ</key>
		<dict>
			<key>index</key>
			<integer>36</integer>
			<key>modDate</key>
			<date>2006-12-24T11:10:28Z</date>
		</dict>
		<key>a+1POabITJ6+ax/1iendfQ</key>
		<dict>
			<key>index</key>
			<integer>28</integer>
			<key>modDate</key>
			<date>2007-09-23T10:36:46Z</date>
		</dict>
		<key>cKKtxE1OR0aji3BvizllYg</key>
		<dict>
			<key>index</key>
			<integer>5</integer>
			<key>modDate</key>
			<date>2006-12-24T11:19:58Z</date>
		</dict>
		<key>fC+VP8kARze1Ilq36Vvm4Q</key>
		<dict>
			<key>index</key>
			<integer>33</integer>
			<key>modDate</key>
			<date>2007-09-23T10:36:47Z</date>
		</dict>
		<key>h4afvZCpQOa4+YDBOhdjIA</key>
		<dict>
			<key>index</key>
			<integer>30</integer>
			<key>modDate</key>
			<date>2007-09-23T10:36:47Z</date>
		</dict>
		<key>hQInS7QoQ2+bPQeomee1+g</key>
		<dict>
			<key>index</key>
			<integer>35</integer>
			<key>modDate</key>
			<date>2006-12-24T11:10:28Z</date>
		</dict>
		<key>iwqTHsDoTjW3RsGIVgkSNQ</key>
		<dict>
			<key>index</key>
			<integer>15</integer>
			<key>modDate</key>
			<date>2006-12-24T11:10:28Z</date>
		</dict>
		<key>jv07gse8S6iTMLUR4Hmj2A</key>
		<dict>
			<key>index</key>
			<integer>16</integer>
			<key>modDate</key>
			<date>2006-12-24T11:10:28Z</date>
		</dict>
		<key>mR9lWI6qSA2CqJsDXHrxlg</key>
		<dict>
			<key>index</key>
			<integer>21</integer>
			<key>modDate</key>
			<date>2006-12-24T11:10:28Z</date>
		</dict>
		<key>ndZyvB+GR6GA7vTKIO3pkA</key>
		<dict>
			<key>index</key>
			<integer>29</integer>
			<key>modDate</key>
			<date>2007-09-23T10:36:46Z</date>
		</dict>
		<key>nx6988vfQ+WfWuwsSXouDQ</key>
		<dict>
			<key>index</key>
			<integer>12</integer>
			<key>modDate</key>
			<date>2006-12-24T11:19:58Z</date>
		</dict>
		<key>pV40Ry6LQxWKVXY4tTnq/Q</key>
		<dict>
			<key>index</key>
			<integer>1</integer>
			<key>modDate</key>
			<date>2006-12-24T11:19:58Z</date>
		</dict>
		<key>pmHYQcBDSeKiOSP8prqk4Q</key>
		<dict>
			<key>index</key>
			<integer>27</integer>
			<key>modDate</key>
			<date>2007-09-23T10:36:46Z</date>
		</dict>
		<key>sD+DpioCRDKVZZro3AXccQ</key>
		<dict>
			<key>index</key>
			<integer>10</integer>
			<key>modDate</key>
			<date>2006-12-24T11:19:58Z</date>
		</dict>
		<key>sybQqm8+Rg6/IZ0VI6G6gg</key>
		<dict>
			<key>index</key>
			<integer>38</integer>
			<key>modDate</key>
			<date>2006-12-24T11:10:28Z</date>
		</dict>
		<key>uHlbM/PzRWOnM/dgJXqcIg</key>
		<dict>
			<key>index</key>
			<integer>17</integer>
			<key>modDate</key>
			<date>2006-12-24T11:10:28Z</date>
		</dict>
		<key>vegNBTRbR4WZ0mEjHsw2NA</key>
		<dict>
			<key>index</key>
			<integer>8</integer>
			<key>modDate</key>
			<date>2006-12-24T11:19:58Z</date>
		</dict>
		<key>xOtqMjUrRlqrPqfVads3aA</key>
		<dict>
			<key>index</key>
			<integer>24</integer>
			<key>modDate</key>
			<date>2007-09-23T10:36:47Z</date>
		</dict>
		<key>zKLw/39VSIm6/Zc7Xo9Ltg</key>
		<dict>
			<key>index</key>
			<integer>2</integer>
			<key>modDate</key>
			<date>2006-12-24T11:19:58Z</date>
		</dict>
	</dict>
	<key>thumbPreset</key>
	<string>7018cf6da14d9a4d995ec3d5f74633e7</string>
	<key>version</key>
	<integer>110</integer>
</dict>
</plist>
