<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detailPreset</key>
	<string>48840ba0c677abdcedfde2bdd91b704f</string>
	<key>images</key>
	<dict>
		<key>/Ns5ItC/TsCUMkZSOIoetQ</key>
		<dict>
			<key>index</key>
			<integer>10</integer>
			<key>modDate</key>
			<date>2007-11-18T18:35:20Z</date>
		</dict>
		<key>95vWS2tkSaKI8LIsFm6tfw</key>
		<dict>
			<key>index</key>
			<integer>4</integer>
			<key>modDate</key>
			<date>2007-11-18T18:35:19Z</date>
		</dict>
		<key>AMIlhrdbQDKnf6h3FPjwNA</key>
		<dict>
			<key>index</key>
			<integer>6</integer>
			<key>modDate</key>
			<date>2007-11-18T18:35:19Z</date>
		</dict>
		<key>HuRTO1YDT0K4iy5AGdwBEw</key>
		<dict>
			<key>index</key>
			<integer>2</integer>
			<key>modDate</key>
			<date>2007-11-18T18:35:19Z</date>
		</dict>
		<key>LW9LEoO0QVCuGvps3W3TZg</key>
		<dict>
			<key>index</key>
			<integer>1</integer>
			<key>modDate</key>
			<date>2007-11-18T18:35:20Z</date>
		</dict>
		<key>W2sg26nPShqmjowOdprpBw</key>
		<dict>
			<key>index</key>
			<integer>8</integer>
			<key>modDate</key>
			<date>2007-11-18T18:35:20Z</date>
		</dict>
		<key>dBwjh5biQn22cELt4HOkWQ</key>
		<dict>
			<key>index</key>
			<integer>7</integer>
			<key>modDate</key>
			<date>2007-11-18T18:35:20Z</date>
		</dict>
		<key>p46vnWAqREWx0FKc70m3qg</key>
		<dict>
			<key>index</key>
			<integer>9</integer>
			<key>modDate</key>
			<date>2007-11-18T18:35:20Z</date>
		</dict>
		<key>ysLm3o0RQVWeTsyMCWZYJQ</key>
		<dict>
			<key>index</key>
			<integer>5</integer>
			<key>modDate</key>
			<date>2007-11-18T18:35:19Z</date>
		</dict>
		<key>ztKhyzx5SzCxu7v1SZdPNQ</key>
		<dict>
			<key>index</key>
			<integer>3</integer>
			<key>modDate</key>
			<date>2007-11-18T18:35:19Z</date>
		</dict>
	</dict>
	<key>thumbPreset</key>
	<string>77747978d49b298eceb5abb3273724e8</string>
	<key>version</key>
	<integer>110</integer>
</dict>
</plist>
