<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detailPreset</key>
	<string>177e71730090c3e695f1244e4d7d7cee</string>
	<key>images</key>
	<dict>
		<key>2Eg47UT3RtOV++eEUq7ykA</key>
		<dict>
			<key>index</key>
			<integer>1</integer>
			<key>modDate</key>
			<date>2006-12-24T11:21:01Z</date>
		</dict>
		<key>7qEOemW5QwaWcoRCqtVfbQ</key>
		<dict>
			<key>index</key>
			<integer>13</integer>
			<key>modDate</key>
			<date>2006-12-24T11:12:05Z</date>
		</dict>
		<key>8RKezE2cQKCCkPbjfgwaPg</key>
		<dict>
			<key>index</key>
			<integer>12</integer>
			<key>modDate</key>
			<date>2006-12-24T11:12:05Z</date>
		</dict>
		<key>9FYNW+98S6ytQoxUQcCbrQ</key>
		<dict>
			<key>index</key>
			<integer>2</integer>
			<key>modDate</key>
			<date>2006-12-24T11:11:15Z</date>
		</dict>
		<key>ALR8L7S/S3WxMyBip3XSFA</key>
		<dict>
			<key>index</key>
			<integer>15</integer>
			<key>modDate</key>
			<date>2006-12-24T11:12:05Z</date>
		</dict>
		<key>GwDo50+kRJWr8ucHeYfRZQ</key>
		<dict>
			<key>index</key>
			<integer>6</integer>
			<key>modDate</key>
			<date>2006-12-24T11:10:44Z</date>
		</dict>
		<key>Lp2bmW4yQb+SQQ6RSOKujg</key>
		<dict>
			<key>index</key>
			<integer>17</integer>
			<key>modDate</key>
			<date>2006-12-24T11:11:49Z</date>
		</dict>
		<key>LxzZXh6pRxGfl/yjlvQPSw</key>
		<dict>
			<key>index</key>
			<integer>8</integer>
			<key>modDate</key>
			<date>2006-12-24T11:11:41Z</date>
		</dict>
		<key>PyvYDqcxSR6DOF6jviKO7g</key>
		<dict>
			<key>index</key>
			<integer>5</integer>
			<key>modDate</key>
			<date>2006-12-24T11:10:44Z</date>
		</dict>
		<key>RGVenw9hTY62em0xGapSvA</key>
		<dict>
			<key>index</key>
			<integer>10</integer>
			<key>modDate</key>
			<date>2006-12-24T11:11:55Z</date>
		</dict>
		<key>Tc7lyu28THiD82+frvMeFg</key>
		<dict>
			<key>index</key>
			<integer>16</integer>
			<key>modDate</key>
			<date>2006-12-24T11:12:05Z</date>
		</dict>
		<key>UUPr0wlwTROSQLcA7Qnz5w</key>
		<dict>
			<key>index</key>
			<integer>4</integer>
			<key>modDate</key>
			<date>2006-12-24T11:11:20Z</date>
		</dict>
		<key>je5KMPDhQW+8Hdl56b5AZg</key>
		<dict>
			<key>index</key>
			<integer>11</integer>
			<key>modDate</key>
			<date>2006-12-24T11:12:04Z</date>
		</dict>
		<key>lYj9bybfTmWnW0Dnaz0eRQ</key>
		<dict>
			<key>index</key>
			<integer>3</integer>
			<key>modDate</key>
			<date>2006-12-24T11:10:54Z</date>
		</dict>
		<key>m7knBYnYS8G57V13e129Ig</key>
		<dict>
			<key>index</key>
			<integer>7</integer>
			<key>modDate</key>
			<date>2006-12-24T11:10:44Z</date>
		</dict>
		<key>r1OfqzMeRwaQ1hfGWD73IQ</key>
		<dict>
			<key>index</key>
			<integer>14</integer>
			<key>modDate</key>
			<date>2006-12-24T11:12:05Z</date>
		</dict>
		<key>x9ltbzlsSo+k6/Rs/d+/3w</key>
		<dict>
			<key>index</key>
			<integer>9</integer>
			<key>modDate</key>
			<date>2006-12-24T11:11:48Z</date>
		</dict>
	</dict>
	<key>thumbPreset</key>
	<string>77747978d49b298eceb5abb3273724e8</string>
	<key>version</key>
	<integer>110</integer>
</dict>
</plist>
