<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detailPreset</key>
	<string>48840ba0c677abdcedfde2bdd91b704f</string>
	<key>images</key>
	<dict>
		<key>+mhyVT55QauNob1g2pHneg</key>
		<dict>
			<key>index</key>
			<integer>9</integer>
			<key>modDate</key>
			<date>2006-12-24T11:20:09Z</date>
		</dict>
		<key>0CFwyZ/BQiqEgKj4OwGnGw</key>
		<dict>
			<key>index</key>
			<integer>34</integer>
			<key>modDate</key>
			<date>2007-01-04T12:34:13Z</date>
		</dict>
		<key>1TJKDl0qRUKylSJoJIqIgQ</key>
		<dict>
			<key>index</key>
			<integer>42</integer>
			<key>modDate</key>
			<date>2007-01-04T12:31:00Z</date>
		</dict>
		<key>2EFnJt/UQdmup3zNrWXPbg</key>
		<dict>
			<key>index</key>
			<integer>19</integer>
			<key>modDate</key>
			<date>2006-10-24T18:19:27Z</date>
		</dict>
		<key>4dWIiqbZSBqt8KbkQHWMlQ</key>
		<dict>
			<key>index</key>
			<integer>47</integer>
			<key>modDate</key>
			<date>2006-12-24T11:19:17Z</date>
		</dict>
		<key>590YRL1bSzCpRkxurltpHA</key>
		<dict>
			<key>index</key>
			<integer>50</integer>
			<key>modDate</key>
			<date>2006-12-24T11:19:19Z</date>
		</dict>
		<key>5OJ5tzNfSXiExSu8Pne60w</key>
		<dict>
			<key>index</key>
			<integer>25</integer>
			<key>modDate</key>
			<date>2006-10-24T18:19:27Z</date>
		</dict>
		<key>5mfs9MIjTI+6egDlle9Q8A</key>
		<dict>
			<key>index</key>
			<integer>6</integer>
			<key>modDate</key>
			<date>2006-10-24T18:19:27Z</date>
		</dict>
		<key>5uO1vYhAThmPIBOKRdbI5g</key>
		<dict>
			<key>index</key>
			<integer>53</integer>
			<key>modDate</key>
			<date>2006-10-24T18:19:27Z</date>
		</dict>
		<key>8Ipw0ePZSnCgAzUWkeEjbA</key>
		<dict>
			<key>index</key>
			<integer>12</integer>
			<key>modDate</key>
			<date>2006-10-24T18:19:27Z</date>
		</dict>
		<key>AA1Hdd0/SMie29LqhVCP6g</key>
		<dict>
			<key>index</key>
			<integer>41</integer>
			<key>modDate</key>
			<date>2006-12-24T11:19:06Z</date>
		</dict>
		<key>Agspp2uAQm2YZbQuqUcnmA</key>
		<dict>
			<key>index</key>
			<integer>17</integer>
			<key>modDate</key>
			<date>2006-10-24T18:19:27Z</date>
		</dict>
		<key>ArfiX9OPR/S6B9JzrpOJKw</key>
		<dict>
			<key>index</key>
			<integer>44</integer>
			<key>modDate</key>
			<date>2007-01-04T12:25:06Z</date>
		</dict>
		<key>CI79TtVyTQyAtev3UnLXuw</key>
		<dict>
			<key>index</key>
			<integer>54</integer>
			<key>modDate</key>
			<date>2007-09-23T10:32:30Z</date>
		</dict>
		<key>DX5TbcvyQAKeOil2c6Qpqg</key>
		<dict>
			<key>index</key>
			<integer>15</integer>
			<key>modDate</key>
			<date>2006-10-24T18:19:27Z</date>
		</dict>
		<key>E7WSqx8/R7ufbozxxjP6Hw</key>
		<dict>
			<key>index</key>
			<integer>57</integer>
			<key>modDate</key>
			<date>2007-07-16T14:19:27Z</date>
		</dict>
		<key>Idi9miKwQbKllCBPHnxcMA</key>
		<dict>
			<key>index</key>
			<integer>56</integer>
			<key>modDate</key>
			<date>2007-07-16T14:19:27Z</date>
		</dict>
		<key>K0w4UM9ZT0W/+0RVRzolaA</key>
		<dict>
			<key>index</key>
			<integer>16</integer>
			<key>modDate</key>
			<date>2006-10-24T18:19:27Z</date>
		</dict>
		<key>L4P0amGaT/WIDmLs/rfQyA</key>
		<dict>
			<key>index</key>
			<integer>1</integer>
			<key>modDate</key>
			<date>2006-10-24T18:19:27Z</date>
		</dict>
		<key>MvIKetp6RDm8MbwuONNmTQ</key>
		<dict>
			<key>index</key>
			<integer>20</integer>
			<key>modDate</key>
			<date>2006-10-24T18:19:27Z</date>
		</dict>
		<key>N7YPkW9KSfGMQeV36L3MJQ</key>
		<dict>
			<key>index</key>
			<integer>27</integer>
			<key>modDate</key>
			<date>2006-10-24T18:19:27Z</date>
		</dict>
		<key>OEx9mSMmRRazRIZH4f59PA</key>
		<dict>
			<key>index</key>
			<integer>28</integer>
			<key>modDate</key>
			<date>2007-01-04T12:39:08Z</date>
		</dict>
		<key>OiVUXESzTxG7ZkTfuYXmFA</key>
		<dict>
			<key>index</key>
			<integer>10</integer>
			<key>modDate</key>
			<date>2006-10-24T18:19:27Z</date>
		</dict>
		<key>S9t1csG/ToCMBWIGWUda9Q</key>
		<dict>
			<key>index</key>
			<integer>4</integer>
			<key>modDate</key>
			<date>2006-10-24T18:19:27Z</date>
		</dict>
		<key>TGzc+paiQy6j0su57w+AHQ</key>
		<dict>
			<key>index</key>
			<integer>26</integer>
			<key>modDate</key>
			<date>2006-10-24T18:19:27Z</date>
		</dict>
		<key>UQKOu0KERuuih9OnMuFKdg</key>
		<dict>
			<key>index</key>
			<integer>30</integer>
			<key>modDate</key>
			<date>2007-01-04T12:38:17Z</date>
		</dict>
		<key>Vug3nm5kSg+i2V1MopzNOw</key>
		<dict>
			<key>index</key>
			<integer>43</integer>
			<key>modDate</key>
			<date>2006-10-24T18:31:26Z</date>
		</dict>
		<key>XWiT0NqWQAmldy64uNiGxw</key>
		<dict>
			<key>index</key>
			<integer>46</integer>
			<key>modDate</key>
			<date>2007-09-23T10:14:21Z</date>
		</dict>
		<key>Y/mkTvymSLinw0BUxEP2HQ</key>
		<dict>
			<key>index</key>
			<integer>55</integer>
			<key>modDate</key>
			<date>2007-07-16T14:19:27Z</date>
		</dict>
		<key>ZB39QlzqQiOj7WnofC+yjA</key>
		<dict>
			<key>index</key>
			<integer>21</integer>
			<key>modDate</key>
			<date>2006-10-24T18:19:27Z</date>
		</dict>
		<key>ZTcdN7MpRKylTj51mNBYdA</key>
		<dict>
			<key>index</key>
			<integer>45</integer>
			<key>modDate</key>
			<date>2007-01-04T12:26:39Z</date>
		</dict>
		<key>ZYxe2AvIQy63akqllc4JVQ</key>
		<dict>
			<key>index</key>
			<integer>29</integer>
			<key>modDate</key>
			<date>2006-10-24T18:12:48Z</date>
		</dict>
		<key>a3FPyXGYSGa/Fh/Ffs9vpw</key>
		<dict>
			<key>index</key>
			<integer>52</integer>
			<key>modDate</key>
			<date>2006-10-24T18:19:27Z</date>
		</dict>
		<key>aktAK5xnTk6cxw94wnzLXQ</key>
		<dict>
			<key>index</key>
			<integer>8</integer>
			<key>modDate</key>
			<date>2006-12-24T11:20:09Z</date>
		</dict>
		<key>bfSDKX3cTZy9d1mbGrFbgA</key>
		<dict>
			<key>index</key>
			<integer>33</integer>
			<key>modDate</key>
			<date>2007-09-23T10:22:38Z</date>
		</dict>
		<key>c5HIlwwtRCedcWisFhN64Q</key>
		<dict>
			<key>index</key>
			<integer>18</integer>
			<key>modDate</key>
			<date>2006-10-24T18:19:27Z</date>
		</dict>
		<key>cNjM2wtdTdmZ+npZPq60ug</key>
		<dict>
			<key>index</key>
			<integer>24</integer>
			<key>modDate</key>
			<date>2006-10-24T18:19:27Z</date>
		</dict>
		<key>eBB9zEIRROSk7Y28a4md8A</key>
		<dict>
			<key>index</key>
			<integer>35</integer>
			<key>modDate</key>
			<date>2007-09-23T10:23:34Z</date>
		</dict>
		<key>exrrUsMnSwmazn6AOS+IwQ</key>
		<dict>
			<key>index</key>
			<integer>37</integer>
			<key>modDate</key>
			<date>2007-01-04T12:32:13Z</date>
		</dict>
		<key>f15eKguoQ4eGk+bhZmjP7A</key>
		<dict>
			<key>index</key>
			<integer>49</integer>
			<key>modDate</key>
			<date>2006-12-24T11:19:18Z</date>
		</dict>
		<key>hbkFkoc3Q3W9PYCtCBcdMg</key>
		<dict>
			<key>index</key>
			<integer>36</integer>
			<key>modDate</key>
			<date>2007-09-23T10:21:46Z</date>
		</dict>
		<key>j8qSyHSRTA6BHxi8BYzZxg</key>
		<dict>
			<key>index</key>
			<integer>40</integer>
			<key>modDate</key>
			<date>2007-01-04T12:23:22Z</date>
		</dict>
		<key>mJFQqYzkTJKodI8Nb0yrYQ</key>
		<dict>
			<key>index</key>
			<integer>5</integer>
			<key>modDate</key>
			<date>2006-10-24T18:55:28Z</date>
		</dict>
		<key>mhDBJbdQQnSjaLaHzIlLkA</key>
		<dict>
			<key>index</key>
			<integer>7</integer>
			<key>modDate</key>
			<date>2006-12-24T11:20:09Z</date>
		</dict>
		<key>n2oayVU2TrO1XUWwGAZhHQ</key>
		<dict>
			<key>index</key>
			<integer>32</integer>
			<key>modDate</key>
			<date>2007-01-04T12:36:56Z</date>
		</dict>
		<key>oV35j89rQIq2CwPZfsoehQ</key>
		<dict>
			<key>index</key>
			<integer>51</integer>
			<key>modDate</key>
			<date>2006-10-24T18:19:27Z</date>
		</dict>
		<key>pgRU9tixRJejvcKXC8jeSA</key>
		<dict>
			<key>index</key>
			<integer>31</integer>
			<key>modDate</key>
			<date>2007-09-23T10:25:24Z</date>
		</dict>
		<key>q7gB//94T1m+dL3ag21/PA</key>
		<dict>
			<key>index</key>
			<integer>39</integer>
			<key>modDate</key>
			<date>2007-09-23T10:19:29Z</date>
		</dict>
		<key>sieUBvIiRaKkG8hvRbNlyA</key>
		<dict>
			<key>index</key>
			<integer>11</integer>
			<key>modDate</key>
			<date>2006-10-24T18:19:27Z</date>
		</dict>
		<key>tRwCaqORQh6VrNQ2ID4Y3w</key>
		<dict>
			<key>index</key>
			<integer>13</integer>
			<key>modDate</key>
			<date>2006-10-24T18:19:27Z</date>
		</dict>
		<key>tW7zSCe+RN6TFt1fufUzHg</key>
		<dict>
			<key>index</key>
			<integer>48</integer>
			<key>modDate</key>
			<date>2006-12-24T11:19:18Z</date>
		</dict>
		<key>uhmNSkMKQDGfNOBHhxBTkQ</key>
		<dict>
			<key>index</key>
			<integer>2</integer>
			<key>modDate</key>
			<date>2006-12-24T11:18:56Z</date>
		</dict>
		<key>vBGIFBPXQ6KmOf7wOo0Tmg</key>
		<dict>
			<key>index</key>
			<integer>22</integer>
			<key>modDate</key>
			<date>2006-10-24T18:19:27Z</date>
		</dict>
		<key>vauhWSlMRuqL3jZpv7VJ2w</key>
		<dict>
			<key>index</key>
			<integer>14</integer>
			<key>modDate</key>
			<date>2006-10-24T18:19:27Z</date>
		</dict>
		<key>y8SS8mCqQTavgPQOZ6UNPQ</key>
		<dict>
			<key>index</key>
			<integer>38</integer>
			<key>modDate</key>
			<date>2007-09-23T10:21:04Z</date>
		</dict>
		<key>yfx/0hVeQLGWBNW0gDUyXA</key>
		<dict>
			<key>index</key>
			<integer>3</integer>
			<key>modDate</key>
			<date>2006-10-24T18:19:27Z</date>
		</dict>
		<key>zzLCWKdoTXeY8n7hXYq+7g</key>
		<dict>
			<key>index</key>
			<integer>23</integer>
			<key>modDate</key>
			<date>2006-10-24T18:19:27Z</date>
		</dict>
	</dict>
	<key>thumbPreset</key>
	<string>77747978d49b298eceb5abb3273724e8</string>
	<key>version</key>
	<integer>110</integer>
</dict>
</plist>
